<h1>{{title}}</h1>

{{#if cart.products.length}}
  <ul>
    {{#each cart.products}}
      <li>{{this.product.title}} — ${{this.product.price}} x {{this.quantity}}</li>
    {{/each}}
  </ul>
{{else}}
  <p>El carrito está vacío.</p>
{{/if}}
